argparse
black
cmake
conan
graphviz
imutils
ipykernel
ipympl
jupyter
lightning
matplotlib
networkx
numpy
onnx
onnxruntime-gpu
opencv-python
pandas
pylint
pytest
python-dotenv
pyyaml
scikit-learn
scipy
seaborn
torch
torchvision
